/* -- General style -- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --primary-color: #101935;
    --white: #FFF6F6;
    --deco-color: #7DBBBD;
    --error: #FF7B7B;
    --success: #BFFF9B;
    --answers: #FFF6F6;
    --light-font: 300;
    --medium-font: 400;
    --bold-font: 600;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;

    background: linear-gradient(120deg, rgba(215,243,248,1) 0%, rgba(210,217,220,1) 100%) no-repeat;
    background-size: contain;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body.darkmode {
    --primary-color: #E9EBF3;
    --white: #E9EBF3;
    --deco-color: #545B8B;
    --error: #D85555;
    --success: #488446;
    --answers: #E9EBF3;

    background: linear-gradient(150deg, rgba(17,16,53,1) 0%, rgba(58,53,80,1) 100%) no-repeat;
}

.hide {
    display: none!important;
}

.success {
    background-color: var(--success);
}

.error {
    background-color: var(--error);
}

button {
    border: none;
    display: block;
    background: var(--answers);
    font-size: 1.3rem;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: all linear 0.2s;
    box-shadow: 2px 2px 4px 2px rgba(179,179,179,0.5);
}

body.darkmode button {
    box-shadow: 2px 2px 4px 2px rgba(41,41,41,0.5);
}

button:hover {
    background: var(--deco-color);
    color: var(--primary-color)
}

button.error:hover {
    background: var(--error);
    color: initial;
}

button.success:hover {
    background: var(--success);
    color: initial;
}

button[disabled], button[disabled]:hover {
    color: #000;
    pointer-events: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 50px;
    position: relative;
    margin-bottom: 30px;
}

header:after {
    content: "";
    position: absolute;
    width: 30%;
    height: 3px;
    background-color: var(--deco-color);
    left: 0;
    bottom: 0;
}

h1 {
    font-size: 2rem;
    color: var(--primary-color);
}

header p {
    font-size : 1.5rem;
    font-style: italic;
    text-align: right;
    color: var(--primary-color);
}

main {
    max-width: 700px;
    margin: auto;
}

main h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 50px;
}

p.best-result, .end-container span {
    color: var(--primary-color);
}

.end-container span.finalScore {
    font-size: 2.5rem;
}


/* -- Start and end container -- */

.start-container span, .end-container span {
    display: block;
    text-align: center;
    margin: 10px 0;
    font-size: 2rem;
    font-weight: var(--bold-font);
}

.start-container button, .end-container button {
    margin: 50px auto;
}

.end-container h3 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: var(--bold-font);
    padding-bottom: 40px;
    color: var(--primary-color);
}

.end-container p, .start-container p {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px;
    font-weight: var(--medium-font);
    color: var(--primary-color)
}


/* -- Challenge container -- */

.challenge-container div.score-container {
    display: flex;
    gap : 25px;
    align-items: center;
    padding-bottom: 30px;
}

p.countdown {
    flex: 1;
    text-align: right;
    font-size: 1.5rem;
    color: var(--primary-color);
}

p.countdown span {
    color: var(--deco-color);
    font-weight: var(--bold-font);
}

.challenge-container div.score-container span.current-score {
    display: block;
    background-color: var(--deco-color);
    color: var(--primary-color);
    text-align: center;
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 1.8rem;
    border-radius: 9999px;
    font-weight: var(--bold-font)
}

.challenge-container div.score-container p.best-result {
    font-size: 1.2rem;
}

.challenge-container div.score-container p.best-result::before {
    content: "GG";
    background: url('../img/crown-light-theme.svg') no-repeat;
    background-size: contain;
    color: transparent;
    margin-right: 5px;
}

body.darkmode .challenge-container div.score-container p.best-result::before {
    background: url('../img/crown-dark-theme.svg') no-repeat;
}

.challenge-container p#summary {
    margin: 70px 0 50px;
    font-size: 1.4rem;
    font-weight: var(--medium-font);
    color: var(--primary-color);
    padding: 20px 0 20px 30px;
    border-left: 2px solid var(--deco-color);
    position: relative;
}

.challenge-container p#summary:before {
    content: "";
    background: url('../img/quote-light-theme.svg') no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -40px;
    right: -25px;
}

body.darkmode .challenge-container p#summary:before {
    background: url('../img/quote-dark-theme.svg') no-repeat;
}

.challenge-container div.responses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 25px;
}

footer {
    padding: 15px;
}

.toggle-wrapper {
    --darkmode-toggle-height: 2rem;
    --darkmode-toggle-width: calc(2rem * 2);
    position: relative;
    background: var(--primary-color);
    width: var(--darkmode-toggle-width);
    height: var(--darkmode-toggle-height);
    border-radius: calc(var(--darkmode-toggle-height) / 2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--deco-color);
}

.toggle-checkbox {
    opacity: 0;
    height: var(--darkmode-toggle-height);
    width: var(--darkmode-toggle-width);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

.toggle-circle {
    position: absolute;
    top: 0;
    left: 0;
    right: calc(var(--darkmode-toggle-width) / 2);
    height: var(--darkmode-toggle-height);
    width: calc(var(--darkmode-toggle-width) / 2);
    border-radius: 50%;
    background: #000;
    border: 2px solid var(--deco-color);
    box-sizing: border-box;
    box-shadow: 0 0 calc(var(--darkmode-toggle-width) / 10) var(--deco-color);
    transition: 0.1s ease-in;
}

.toggle-checkbox:checked + .toggle-circle {
    left: calc(var(--darkmode-toggle-width) / 2);
    right: 0;
}

.toggle-emoji {
    font-size: calc(var(--darkmode-toggle-height) * 0.6);
    line-height: 0;
}

/* Responsive */

@media screen and (max-width: 768px) {

    body {
        display: block;
        min-height: 100vh;
        height: auto;
    }

    header {
        display: block;
        padding: 30px 15px;
        margin-bottom: 50px;
        text-align: center;
    }

    header p {
        font-size: 1.2rem;
        text-align: center;
        padding-top: 10px;
    }

    main {
        padding: 20px;
    }

    main h2 {
        font-size: 1.7rem;
    }

    .challenge-container div.score-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .challenge-container p#summary {
        margin: 10px 0 30px 0;
    }

    .challenge-container p#summary:before {
        display: none;
    }

    p.countdown {
        padding-top: 15px;
        text-align: center;
    }

    .challenge-container div.responses {
        grid-template-columns: 1fr;
    }

    button:hover {
        background: var(--answers);
        color: #000;
    }
}
